
DB_HOST=localhost
DB_PORT=5432
DB_NAME=salon_erp
DB_USER=postgres
DB_PASSWORD=your_password

SECRET_KEY=your_secret_key
SECURITY_PASSWORD_SALT = your_security_password_salt

MAIL_SERVER=your_mail_server
MAIL_PORT=_your_mail_port
MAIL_USE_SSL=False

MAIL_USERNAME=example@gmail.com
MAIL_PASSWORD=your_app_password

MAIL_DEFAULT_SENDER=example@gmail.com