{% extends "user/base.html" %}

{% block extra_css %}<link rel="stylesheet"
      href="{{ url_for('static',
      filename='css/user/profile.css') }}">{% endblock %}

{% block content %}

<section class="profile-section">

    <div class="container">

        <div class="profile-card">

            <div class="profile-header">

                <div class="profile-avatar">
                    <i class="bi bi-person"></i>
                </div>

                <h2>{{ customer.full_name }}</h2>

                <p>{{ customer.email }}</p>

            </div>

            <div class="account-card">

                <div class="row">

                    <div class="col-md-6">
                        <label>Full Name</label>
                        <h6>{{ customer.full_name }}</h6>
                    </div>

                    <div class="col-md-6">
                        <label>Email</label>
                        <h6>{{ customer.email }}</h6>
                    </div>

                    <div class="col-md-6">
                        <label>Phone</label>
                        <h6>{{ customer.phone }}</h6>
                    </div>

                </div>

                <button class="btn btn-gold mt-4">
                    Edit Profile
                </button>

            </div>

        </div>

    </div>

</section>

{% endblock %}